<div id="jw-content-wrapper">
  <div class="h-100 row" *ngIf="categories">
    <div class="col-12 align-self-start" *ngFor="let category of categories; index as i;">
      <h4>{{ category.title }}</h4>
      <ul class="product-list" *ngIf="category.products">
        <li *ngFor="let product of category.products; index as i;" class="d-flex flex-column">
          <div class="box-img">
            <img src="{{ product.image }}" alt="{{ product.name }}">
          </div>
          <div class="w-100 p-2">
            <h4>{{ product.name }}</h4>
            <h5>R$ {{ product.price }}</h5>
          </div>
          <div class="w-100 p-2 align-self-end">
            <button class="btn-border-blue w-100 py-2 font-weight-bold lay-bg-blue text-white" (click)="addToCart(product)">
              Add ao carrinho
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
