<div id="jw-content-wrapper">
  <div class="h-100 row">
    <div class="col text-center align-self-center">
      <div class="w-100 mb-5">
        <a href="javascript:void(0);" title="{{ env.name }}" routerLink="/">
          <img src="assets/images/logo-join-wallet.png" alt="{{ env.name }}" id="logo-jw" class="mb-2">
        </a>
        <br>
        <i class="lay-color-aluminium">Porque juntos somos mais fortes.</i>
      </div>
      <div class="w-100">
        <a href="javascript:void(0);" title="Cadastre-se" routerLink="/register" class="btn-border-blue btn-md font-weight-bold text-white lay-bg-blue text-decoration-none mb-3">
          Cadastre-se
        </a>
        <br>
        <a href="javascript:void(0);" title="Acessar" routerLink="/login" class="btn-border-beige btn-md font-weight-bold text-white lay-bg-beige text-decoration-none">
          Login
        </a>
      </div>
    </div>
  </div>
</div>
